{% extends "base.html" %}

{% block title %}Registration Complete - KHCC-IOC Conference{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5 mb-5">
                <div class="card-header bg-success text-white">
                    <h2 class="card-title mb-0">Registration Successful!</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-success mb-4">
                        <h4 class="alert-heading">Thank you for registering!</h4>
                        <p>Your registration for the KHCC-IOC Conference has been successfully submitted.</p>
                    </div>
                    
                    <p>A confirmation email has been sent to your provided email address with details of your registration.</p>
                    
                    <p>Please check your email inbox (and spam folder if you don't see it) for the confirmation email.</p>
                    
                    <h5 class="mt-4">What's Next?</h5>
                    <ul>
                        <li>Mark your calendar for the conference dates: February 20-22, 2025</li>
                        <li>You'll receive additional information about the conference as the date approaches</li>
                        <li>For any questions, contact us at <a href="mailto:khcc.ioc2025@gmail.com">khcc.ioc2025@gmail.com</a></li>
                    </ul>
                    
                    <div class="mt-4">
                        <a href="/" class="btn btn-primary">Return to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 